.sidebar-header-container {
    padding: 10px;
    background-color: #EDEDED;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-header-container p {
    padding-left: 10px;
}

.sidebar-header-container img {
    width: 50px;
    cursor: pointer;
    border-radius: 50%;
}

.sidebar-header-searchbar {
    background-color: rgb(246, 246, 246);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 0 10px;
}

.sidebar-header-searchbar-main {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 100px;
    width: 100%;
    height: 30px;
}

.sidebar-header-searchbar input {
    border: 0;
    border-radius: 50px;
    padding: 10px 20px;
    outline: none;
    width: 100%;
    background-color: transparent;
}

.sign-out-btn {
    border: 0;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: rgb(255, 71, 71);
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
}